---
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
  body{

  background:url(https://raw.githubusercontent.com/BadElement/MyPic/main/404.jpg)  no-repeat center center;

  background-size:cover;

  background-attachment:fixed;

  background-color:#CCCCCC;

}
</style>

<div class="container">
  <h1 style="color:#FF0000";>404</h1>

  <p style="color:#ff0000";><strong>Page not found :(</strong></p>
  <p style="color:#FF0000";>Try to check other pages through the menu. </p>
</div>

